<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					{{message}}
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form action="/proccess" method="post">
			<p>
			Your Name: <input type="name" name="name">
			</p>
			<p>
				Dojo Location: 
				<select name="location">
				  <option value="Seattle">Seattle</option>
				  <option value="Boston">Boston</option>
				  <option value="Chicago">Chicago</option>
				  <option value="San Jose">San Jose</option>
				</select>
			</p>
			<p>
				Favorite Language: 
					<select name="language">
					  <option value="Python">Python</option>
					  <option value="English">English</option>
					  <option value="German">German</option>
					  <option value="French">French</option>
					</select>
			</p>
			<p>
				Comment(optional):
				<textarea name="comment" rows="10" cols="10"></textarea>
		</p>
		<input type="submit" name="submit" id="submit">
	</form>
</div>

</body>
</html>